.idea
.DS_Store

src/utils/http_client/async_client_aio.py

apify_storage
storage/

.venv/
.env/
__pypackages__
dist/
build/
*.egg-info/
*.egg

__pycache__

.mypy_cache
.dmypy.json
dmypy.json
.pytest_cache
.ruff_cache
.vscode

.scrapy
*.log
.python-version
package.json